body {
    padding: 0.9em 0;
    margin: 0.5em;
    text-align: center;
    background: #dfad09;
    border-radius: 50%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1em auto;
    width: 80%;
    background: #dfad09;
    border-collapse: separate;
    border-spacing: 10px;
}

td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    text-align: left;
}

.recipeBlock, .noRecipesBlock {
    border: 1px solid black;
    border-radius: 5%;
    background-color: sandybrown;
    height: 250px;
    width: 45%;
    margin: 5%;
    background: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    background: #dfad09;
    text-align: center;
    contain: content;
}

.site_title {
    font-size: 3em;
}

.home_body {
    background-image: url("../images/page_images/HomePage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login_body {
    background-image: url("../images/page_images/LoginPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login_edit_body {
    background-image: url("../images/page_images/Page3.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.single_recipe_body {
    background-image: url("../images/page_images/Page4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.add_update_recipe_body {
    background-image: url("../images/page_images/Page6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.personal_recipebook_body {
    background-image: url("../images/page_images/BookPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
}

.recipe_title {
    margin-bottom: 5%;
}

.recipe_img {
    float: left;
    margin-left: 10%;
    margin-bottom: 3%;
    height: auto;
    width: 42%;
}

.recipe_steps {
    margin: 3% auto;
}

.ingredient_list p {
    margin-left:52%;
}

.searchField {
    text-align: center;
}

#imgFileSelect {
    opacity: 0;
}

#imgUploadLabel {
    cursor: pointer;
}

.imgField {
    margin-left: 20%;
}
